.navBarContainer {
  background: var(--card-primary-color);
  width: 100vw;
  padding: 8px;
}

.navBarContainer > h1 {
  color: var(--text-primary-color);
  font-size: 1.2rem;
  margin: 0rem 15rem;
}

@media screen and (max-width: 768px) {
  .navBarContainer {
    width: 100vw !important;
    padding: 5px;
  }
  .navBarContainer > h1 {
    margin: 0rem 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .navBarContainer {
    width: 100vw !important;
    padding: 5px;
  }
  .navBarContainer > h1 {
    margin: 0rem 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .navBarContainer {
    width: 100vw !important;
    padding: 5px;
  }
  .navBarContainer > h1 {
    margin: 0rem 1rem;
  }
}
