.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.progressBar {
  color: white;
  width: 45%;
  height: 8px;
  border-radius: 100px;
  appearance: none;
  overflow: hidden;
}

.progressBar::-webkit-progress-bar {
  background: #e2e8f0;
  border-radius: 100px;
}

.progressBar::-webkit-progress-value {
  background: var(--primary-background-color);
  border-radius: 100px;
}

.progressBar::-moz-progress-bar {
  background: var(--primary-background-color);
  border-radius: 100px;
}

.progressBarItems {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 45%;
  margin-top: 0.8rem;
  align-items: center;
  justify-content: space-between;
}

.progressCount {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 0.7rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBarSelected {
  background: var(--primary-background-color);
  font-weight: bold;
  cursor: default;
}

.progressBarUnSelected {
  background: #5a5a5a;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.progressTitle {
  width: 100%;
  text-align: center;

  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .progressContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }
  .progressBar {
    width: 100%;
  }
  .progressBarItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .progressContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }
  .progressBar {
    width: 100%;
  }
  .progressBarItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .progressContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }
  .progressBar {
    width: 100%;
  }
  .progressBarItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    width: 100%;
  }
}
